<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>BUPT Image Combine</title>
    <!-- normalizar -->
    <link href="./static/homePage/css/normalize.css" rel="stylesheet">

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Cabin:400,500,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>


    <!-- Bootstrap -->
    <link href="./static/homePage/css/bootstrap.min.css" rel="stylesheet">

    <!--fontawesome-->
    <link href="./static/homePage/css/font-awesome.min.css" rel="stylesheet">

    <!--animation-->
    <link href="./static/homePage/css/animate.min.css" rel="stylesheet">

    <!--main css-->
    <link href="./static/homePage/css/style.css" rel="stylesheet">

    <!--main css-->
    <link href="./static/homePage/css/responsive.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div id="preloader">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw margin-bottom"></i>
    </div>
    
    <header id="header_area">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="logo">
                        <h2><a href="">北京邮电大学网络智能中心</a></h2>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="mainmenu">
                        <div class="navbar navbar-nobg">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <div class="navbar-collapse collapse">
                                <ul class="nav navbar-nav navbar-right">
                                    <li><a href="./">首页</a>
                                    </li>
                                    <li><a href="#project_background">项目背景</a>
                                    </li>
                                    <li><a href="#Experience_area">算法介绍</a>
                                    </li>
                                    <li><a href="./demo">Demo试用</a>
                                    </li>
                                    <li><a href="http://www.nilab.org.cn">实验室主页</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="header_area_text" style="height:650px">
                        <!--
                        <h2 class="wow slideInDown" data-wow-duration="2s">We’re here to create your
online presense and style</h2>
                        <p class="wow slideInUp">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse mattis orci dapibus risus dignissim, viverra pellentesque arcu ullamcorper. Mauris a tincidunt lectus. Proin nec venenatis quam. </p>
                        <a class="wow slideInUp" data-wow-duration="2s" href="">START  TODAY  with  us</a>
                        -->
                    </div>
                </div>
            </div>

        </div>
    </header>
    <!-- end header top area -->


    <section id="project_background" class="section_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="story_image wow slideInLeft" data-wow-duration="2s">
                        <img src="./static/homePage/images/bg1.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="story_text wow slideInRight" data-wow-duration="2s">
                        <h2>项目背景</h2>
                        <p style="text-indent:2em;">MindCamera是一款交互式的图像搜索与融合系统，其目的在于帮助人们合成脑海中的真实图片，实现人们“所想即所得”的愿望。它提供了多种获取图片素材的方式。草图检索使得用户可以通过手绘来获取特定外形物体的图片；而基于文本的图像检索则方便用户通过简单的文字描述来搜索图片；本地上传则为用户合成自己的日常生活照片提供了可能。在此基础上，MindCamera引入了更多的交互式的控制节点，包括:前景提取、调节物体大小和位置以及将物体融合到背景中等。最终用户可以获得一幅高质量的真实图片，从而充分享受合成图片的乐趣。</p>
                        <p style="text-indent:2em;">社交网络的发展推动了图像处理软件的风靡。但同时却很少有软件兼具合成真实图片的功能。而MindCamera的出现填补了这一空白。MindCamera兼具了搜图、抠图以及融合的功能。它主要针对广大非专业的用户，其良好的交互性以及简易的操作性，是Photoshop图像合成功能良好的替代品。同时对于专业用户，它也能为其提供丰富的素材，减少用户搜寻素材的时间。</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end of story area -->





    <section id="features_area" class="section_padding text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2>项目特点</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="single_feature wow slideInUp" data-wow-duration="1s">
                        <i class="fa fa-user"></i>
                        <h3>精准匹配</h3>
                        <p>强大的图像算法和深度学习算法配合着庞大的后台图片库可以根据输入的轮廓图完美匹配实物
                        </p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="single_feature wow slideInUp" data-wow-duration="2s">
                        <i class="fa fa-flag"></i>
                        <h3>多样选择</h3>
                        <p>
                            系统后台有庞大的素材库支持，同时提供多种方式检索图片，最大限度地满足用户的需求
                        </p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="single_feature wow slideInUp" data-wow-duration="3s">
                        <i class="fa fa-paint-brush"></i>
                        <h3>逼真效果</h3>
                        <p>经典的Grabcut算法与Possion图像融合算法用于图像提取以及融合，融合后的图像将背景与物体完美融为一体</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end features area -->








    <div class="copyrights">Collect from <a href="http://www.cssmoban.com/" >网页模板</a></div>


    <section id="clients_say_area" class="section_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2>项目创新点</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="clients_say wow slideInUp">
                        <p>项目结合了该应用场景下几乎所有可用的图像检索技术，涉及图像提取，图像匹配，相似度判定，图像分割，图像融合</p>
                        <div class="clients_say_list fix">
                            <div class="say floatleft">
                                <h5>Joe Doe</h5>
                                <h6>Creative Deirector at Gmoogle.com</h6>
                            </div>
                            <div class="c_img floatright">
                                <img src="./static/homePage/images/client.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="clients_say wow slideInUp">
                        <p>Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.</p>
                        <div class="clients_say_list fix">
                            <div class="say floatleft">
                                <h5>Joe Doe</h5>
                                <h6>Creative Deirector at Gmoogle.com</h6>
                            </div>
                            <div class="c_img floatright">
                                <img src="./static/homePage/images/client.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="clients_say wow slideInUp">
                        <p>Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.</p>
                        <div class="clients_say_list fix">
                            <div class="say floatleft">
                                <h5>Joe Doe</h5>
                                <h6>Creative Deirector at Gmoogle.com</h6>
                            </div>
                            <div class="c_img floatright">
                                <img src="./static/homePage/images/client.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="clients_say wow slideInUp">
                        <p>Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.</p>
                        <div class="clients_say_list fix">
                            <div class="say floatleft">
                                <h5>Joe Doe</h5>
                                <h6>Creative Deirector at Gmoogle.com</h6>
                            </div>
                            <div class="c_img floatright">
                                <img src="./static/homePage/images/client.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end clients say area -->

    <section id="Experience_area" class="section_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="col-md-12">
                        <div class="wow slideInLeft">
                            <img src="./static/homePage/images/1.jpg" />
                        </div>
                    </div>
                </div>
                <div class="col-md-1" align="center" style="height:248px;">
                    <div class="wow slideInLeft" data-wow-delay="1s">
                        +
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="col-md-12">
                        <div class="wow slideInLeft" data-wow-delay="3s">
                            <img src="./static/homePage/images/2.jpg" />
                        </div>
                    </div>

                </div>
                <div class="col-md-1" align="center" style="height:248px;">
                    <div class="wow slideInLeft" data-wow-delay="4s">
                        =
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-md-12">
                        <div class="wow slideInRight" data-wow-delay="5s">
                            <img src="./static/homePage/images/3.jpg" />
                        </div>
                    </div>
                </div>

                <!--
                <div class="col-md-6">
                    <div class="experience wow slideInLeft">
                        <h2>Our Experience</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam volutpat purus in ferment uectetur tortor id, pharetra lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam volutpat purus in ferment uectetur tortor id, pharetra lorem.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam volutpat purus in ferment uectetur tortor id, pharetra lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam volutpat purus in ferment uectetur tortor id, pharetra lorem.</p>
                        <a href="">View case studies</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="skills">
                       <h2>Skills</h2>
                        <div class="skill_right">

                            <p>C++ development</p>
                            <div class="progress wow slideInUp">
                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                                    60%
                                </div>
                            </div>

                            <p>Photoshop</p>
                            <div class="progress wow slideInUp">
                                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                                    60%
                                </div>
                            </div>

                            <p>.Net</p>
                            <div class="progress wow slideInUp">
                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                                    60%
                                </div>
                            </div>

                            <p>Argular js</p>
                            <div class="progress wow slideInUp">
                                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                                    60%
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                -->
            </div>
        </div>
    </section>
    <!-- end experience area -->

    <section id="blog_area" class="section_padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="single_blog wow slideInUp" data-wow-duration="1s">
                        <img class="img-responsive" src="./static/homePage/images/1.jpg" alt="">
                        <h2>Cache Invalidation StrategiesWith Varnish Cache</h2>
                        <div class="comment_area fix">
                            <div class="date floatleft">
                                <p><span><i class="fa fa-calendar-o"></i></span> March 4, 2014</p>
                            </div>
                            <div class="comment floatright">
                                <p><span><i class="fa fa-comments"></i></span>2 comments</p>
                            </div>
                        </div>
                        <p>Shortly thereafter, I was working with RetailMeNot, tasked with designing its iOS and Android app tutorial. The product team wanted to make sure hat users were clear about the value</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="single_blog wow slideInUp" data-wow-duration="2s">
                        <img class="img-responsive" src="./static/homePage/images/2.jpg" alt="">
                        <h2>Cache Invalidation StrategiesWith Varnish Cache</h2>
                        <div class="comment_area fix">
                            <div class="date floatleft">
                                <p><span><i class="fa fa-calendar-o"></i></span> March 4, 2014</p>
                            </div>
                            <div class="comment floatright">
                                <p><span><i class="fa fa-comments"></i></span>2 comments</p>
                            </div>
                        </div>
                        <p>Shortly thereafter, I was working with RetailMeNot, tasked with designing its iOS and Android app tutorial. The product team wanted to make sure hat users were clear about the value</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="single_blog wow slideInUp" data-wow-duration="3s">
                        <img class="img-responsive" src="./static/homePage/images/3.jpg" alt="">
                        <h2>Cache Invalidation StrategiesWith Varnish Cache</h2>
                        <div class="comment_area fix">
                            <div class="date floatleft">
                                <p><span><i class="fa fa-calendar-o"></i></span> March 4, 2014</p>
                            </div>
                            <div class="comment floatright">
                                <p><span><i class="fa fa-comments"></i></span>2 comments</p>
                            </div>
                        </div>
                        <p>Shortly thereafter, I was working with RetailMeNot, tasked with designing its iOS and Android app tutorial. The product team wanted to make sure hat users were clear about the value</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end blog area -->

    <section id="caal_to_action_area">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="call_to_action_text wow slideInLeft" data-wow-duration="2s">
                        <h2>准备好试用一下我们的系统?</h2>
                        <p>请点击右侧的按钮</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="call_project text-right wow slideInRight" data-wow-duration="2s">
                        <a href="./demo">点击试用</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end call to action area -->


    <footer id="footer_area">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="company_logo wow slideInDown">
                        <h2>网络智能中心</h2>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="company_address wow slideInDown">
                        <h2>北京</h2>
                        <p>北京市海淀区西土城路10号北京邮电大学新科研楼511室
                        </p>
                        <h3>
                            010-62282897</h3>
                        <h3>  info@domen.com </h3>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="company_address wow slideInDown">
                        <h2>北京</h2>
                        <p>北京市海淀区坤讯大厦东信北邮信息技术有限公司
                        </p>
                        <h3>
                            010-82325588</h3>
                        <h3>   info@domen.com </h3>
                    </div>
                </div>

            </div>
        </div>
    </footer>

    <!-- main jQuery-->
    <script src="./static/homePage/js/jquery-1.11.3.min.js"></script>

    <!-- bootstrap js -->
    <script src="./static/homePage/js/bootstrap.min.js"></script>

    <!-- wow js -->
    <script src="./static/homePage/js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>

    <!-- main js -->
    <script src="./static/homePage/js/main.js"></script>

</body>

</html>