#obj-draft{width:740px;margin:10px auto;}
.top{margin:20px auto;}
.top input{width:25px;height:60px;border:1px solid #fff;border-radius:4px;background:#ddd;}
.obj_canvas{background:#eee;cursor:default;}
.top .grea{background:#aaa;}
#color{margin-bottom:10px;}
#font{margin-bottom:10px;}
#resultArea img{border:1px solid #008800;}